labs/7.4 Lab  - Watson VR/solution.json
[{"id":"fea53bcb.fc75a8","type":"change","z":"282e58d6.88635","name":"Extract image URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":235,"y":266,"wires":[["beeccda9.9e70b"]]},{"id":"db908301.227f4","type":"switch","z":"282e58d6.88635","name":"Check image url","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":265,"y":106,"wires":[["34b93fd6.4aaa1"],["fea53bcb.fc75a8"]]},{"id":"bd5010e9.b8347","type":"http in","z":"282e58d6.88635","name":"","url":"/people","method":"get","upload":false,"swaggerDoc":"","x":75,"y":106,"wires":[["db908301.227f4"]]},{"id":"611d68cd.b1079","type":"template","z":"282e58d6.88635","name":"Report faces via HTML template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Visual Recognition - Results </h1>\n    <p>Analyzed image: {{result.images.0.resolved_url}}<br/><img id=\"image\" src=\"{{result.images.0.resolved_url}}\" height=\"200\"/></p>\n    {{^result}}\n        <P>No Face detected</P>\n    {{/result}}\n    <p>Images Processed: {{result.images_processed}}</p>\n        {{#result.images.0.faces}}\n            <tr>\n            <p>Age Range:  {{age.min}} - {{age.max}}</p>\n            <p>Gender:  {{gender.gender}}</p>\n            <p>Name:  {{identity.name}}</p>\n            <p id=\"product\"></p>\n            <p1 id=\"so\"></p1>\n            <p2 id=\"so2\"></p2>\n        <script>\n            var card_type,loan_type,a=({{age.max}}+{{age.min}})/2;\nvar img1 = document.createElement(\"img1\");\nvar img2 = document.createElement(\"img2\");\n\n\n                    if(a<18){img1.src = \"https://s-media-cache-ak0.pinimg.com/736x/d6/27/ed/d627ede5fbbb4864d85b9897b759782d.jpg\";loan_type=\"general_investing\";card_type=\"prepaid\";}\n                    else if(a<25){img1.src = \"http://www.lifeflicker.com/wp-content/uploads/2016/09/Paying-Off-Student-Loans-360x240.jpg\";loan_type=\"student\"; card_type=\"student\";}\n                    else if(a<35){img1.src = \"https://i.ytimg.com/vi/zsqx_4ck7YY/maxresdefault.jpg\";img2.src = \"http://mxradvogados.com.br/wp-content/uploads/2016/07/vendaimovel.jpeg\";loan_type=\"car/home\";card_type=\"visa/amex/master_card\";}\n                    else{img1.src = \"https://i.ytimg.com/vi/zsqx_4ck7YY/maxresdefault.jpg\";img2.src = \"http://mxradvogados.com.br/wp-content/uploads/2016/07/vendaimovel.jpeg\";loan_type=\"deposit\";card_type=\"visa/amex/master_card\";}\n                \n        document.getElementById(\"product\").innerHTML=\"Products offer:  We suggest a \"+loan_type+\" loan and a \"+card_type+\" card!\";\n        var src = document.getElementById(\"so\");\n        var src2 = document.getElementById(\"so2\");\n\nsrc.appendChild(img1);\nsrc2.appendChild(img2);\n\n               </script>\n            </p>\n        </tr>{{/result.images.0.faces}}\n    <form  action=\"{{req._parsedUrl.pathname}}\">\n        <br><input type=\"submit\" value=\"Try again or go back to the home page\"/>\n    </form>","x":575,"y":199,"wires":[["78c1af46.127cc"]]},{"id":"78c1af46.127cc","type":"http response","z":"282e58d6.88635","name":"","x":875,"y":106,"wires":[]},{"id":"beeccda9.9e70b","type":"visual-recognition-v3","z":"282e58d6.88635","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"detectFaces","x":245,"y":406,"wires":[["a89caccb.3daf4","a773b3e5.767c1","611d68cd.b1079"]]},{"id":"a89caccb.3daf4","type":"debug","z":"282e58d6.88635","name":"Print msg.result.images","active":true,"console":"false","complete":"result.images","x":555,"y":506,"wires":[]},{"id":"a773b3e5.767c1","type":"template","z":"282e58d6.88635","name":"Print result via a template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"// Template functions can access the json array via this .0. notation.\n// See the Watson Visual Recognition v3 API Documentation at\n// https://watson-api-explorer.mybluemix.net/apis/visual-recognition-v3#!/visual-recognition/get_v3_detect_faces\n\nFirst face in result is a {{result.images.0.faces.0.gender.gender}} !","x":555,"y":306,"wires":[["6c13bcd8.0c5a34"]]},{"id":"6c13bcd8.0c5a34","type":"debug","z":"282e58d6.88635","name":"","active":true,"console":"false","complete":"payload","x":895,"y":306,"wires":[]},{"id":"4c1b94ef.5cd57c","type":"comment","z":"282e58d6.88635","name":"Step #1 - Create a Visual Recognition Service","info":"1. Log into your Bluemix account\n2. Navigate to the Bluemix Catalog\n3. Scroll to the Watson Services section\n4. Find and click on the Visual Recognition service\n5. Create an unbounded Visual Recognition instance\n6. Open the new service and navigate to the Service Credentials\n7. Copy the api_key to the clipboard\n8. Open the above \"visual recognition v3\" node and paste your new API Key","x":195,"y":466,"wires":[]},{"id":"34b93fd6.4aaa1","type":"template","z":"282e58d6.88635","name":"Home_Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Visual Recognition </h1>\n<H2>Give us a picture of a person and we will propose you the best bank offers applied on them</H2>\n<img height=\"42\" width=\"42\" src=\"https://www.ibm.com/blogs/bluemix/wp-content/uploads/2016/10/WatsonVisualRecognition.png\">\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <br>Image URL: <input type=\"text\" name=\"imageurl\"/>\n    <input type=\"submit\" value=\"Analyze\"/>\n</form>","x":575,"y":102,"wires":[["78c1af46.127cc"]]}]
